body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(2, 0, 36);
    background:linear-gradient(90deg, rgba(2,0,36,1)0%,rgba(72,74,156,1)41%,rgba(0,212,255,1)100%);
}
#content {
    overflow: auto;}
#nav,#feature,#footer {
    margin: 1%;
}
img{
    max-width:70% ;
    height:auto;
}
.column1,.column2,.column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}
.column3 {
    margin-right: 0%;
}
li {
    display: inline;
    padding: 0.5em;
}
#nav,#footer {
    background-color: darkslategray;
    padding: 0.5em 0;
}
#feature,.article{
    height: 10em;
    margin-bottom: 1em;
    background-color: darkslategray;
}